<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.wildx.mapper.WildxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.wildx.entity.WildxUser">
        <id column="id" property="id" />
        <result column="user_ip" property="userIp" />
        <result column="user_name" property="userName" />
        <result column="nick" property="nick" />
        <result column="password" property="password" />
        <result column="jwt" property="jwt" />
        <result column="mail" property="mail" />
        <result column="head_portrait" property="headPortrait" />
        <result column="age" property="age" />
        <result column="birthday" property="birthday" />
        <result column="mobile" property="mobile" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

</mapper>
